<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
	<div class="jumbotron">
		<h1 align="center">Welcome, ghostwriter!</h1>
			<p align="center">This portal allows you to input and keep track of your monthly writing submissions for [employername].</p>
			<p align="center">Please log in, then use the navigation bar at the top to get started.</p>
	</div>
</html>